.about {
    display: flex;
    min-height: 60vh;
    justify-content: space-between;
    text-align: center;
    padding: 50px 8vw;
    background-color: #f4ce14;
    color: #000000;
  }

  .about-text {
    width: 40vw;
    padding-inline: 4rem;
  }

  .about-text h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .about-text p {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 30px;
  }

  .owners {
    position: relative;
    display: flex;
  }

  .owners img {
    object-fit: cover;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .a{
    position: absolute;
    top: 80px;
    right: 180px;
    z-index: 2;
  }

  .b {
    position: absolute;
    top: 200px;
    right: 10px;
    z-index: 1;
  }

  @media screen and (max-width: 1100px) {
    .about {
      flex-direction: column;
      align-items: center;
    }

    .about-text {
      width: 80vw;
    }

    .owners {
      flex-direction: column;
      align-items: center;
    }

    .owners img {
      display: none;
    }
  }