* {
  box-sizing: border-box;
  }

  .active-link {
    color: #F4CE14;
    font-weight: bold;
    border-bottom: 2px solid #F4CE14;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px;
  }

  .logo img{
    width: 300px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .nav-links li {
    display: inline;
  }

  .nav-links a {
    text-decoration: none;
    color: #495E57;
    font-size: 18px;
    font-weight: bold;
  }

  .nav-links a:hover {
    color: #F4CE14;
  }

  @media (max-width: 1000px) {
    .nav-links {
      display: none;
    }
  }