* {
  box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px;
  }
  
  .logo img{
    width: 300px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #495E57;
  }
  