* {
box-sizing: border-box;
}

.specials {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
  }
  
  .specials-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 40px;
  }
  
  .special-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #EDEFEE;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .special-card > img {
    border-radius: 20px 20px 0 0;
    min-height: 200px;
    object-fit: cover;
  }
  
  .row-element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
  }

  .row-element img {
    width: 10%;
    object-fit: contain;
  }

  .special-card h3 {
    font-size: 20px;
  }
  
  .special-card p {
    font-size: 16px;
    color: #495E57;
    margin: 10px;
    text-align: left;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #EE9972;
  }
  

  @media screen and (max-width: 950px) {
    .specials-container {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    }
    
    .special-card {
      flex-direction: row;
      align-items: center;
      width: 90%;
      min-width: 600px;
    }
  
    .special-card > img {
      width: 250px;
      border-radius: 20px 0 0 20px;
    }

    .special-card p {
      display: none;
    }
  
    .row-element {
      flex-direction: column;
    }
  
    .row-element img {
      width: 20%;
    }
  }